<%- include('header'); -%>

<div  class="b-example-divider upg"></div>

<div   class="titleline ">

  <nav class=" navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
      <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="deptli1 linkzoom nav-link active" aria-current="page" href="#faculty"><i class="fa-regular ide fa-chalkboard-user"></i>Faculty</a>
          </li>
          <li class="nav-item">
            <a class="deptli linkzoom nav-link active" href="#"><i class="fa-regular ide fa-trophy"></i>Achievements</a>
          </li>
          <li class="nav-item ">
            <a class="deptli linkzoom nav-link active" href="#"><i class="fa-light ide fa-calendar-days"></i>Events</a>
          </li>
          <li class="nav-item ">
            <a class="deptli linkzoom nav-link active" href="#academics"><i class="fa-regular ide fa-book-open-cover"></i>Academics</a>
          </li>
          <li class="nav-item ">
            <a class="deptli linkzoom nav-link active" href="#projects"><i class="fa-regular ide fa-rectangle-history-circle-plus"></i>Projects</a>
          </li>
          <form class="d-flex">
            <input class="searchboxm form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="searchboxm btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>

</div>

<section class="py-5 text-center depthead">
<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
  </div>
  <div class="col-lg-6 col-md-8 mx-auto">
    <h4 style="color:white;" class="norm">"Welcome to department"</h4>
    <h1 class="fw-light headinggoalalbum"><span class="oneal">Electronics</span> & <span class="twoal">Telecommunication</span> Engineering </h1> <br>
    <p  style="color:white;" class="lead ">At Dr. BATU we believe that excellence can be achieved through continuous and never ending process of improvisation and being second is not an option. Being the department of the only Technological University in Maharashtra we are committed to  impart quality technical education to our students.</p>
    </div>
</ div>
</section >
<span id="faculty"></span>

<div  style="text-align:center;" >

  <div  class=""> <br>
    <h2 class="allums">Faculty & Staff</h2>
    <hr class="border border-success border-1">
    <h6>Electronics & Telecommunication Engineering</h6> <br>
    </div>

  <div class="fixedprofiles row" >

      <div class="col-lg-3 alumini"> <br>
      <img class="oneimg1 border border-2" src="https://dbatu.ac.in/wp-content/uploads/2017/05/extc-Nalbalwar.jpg" alt=""> <br> <br>
      <h5>Dr. S. L. Nalbalwar </h5>
      <span>PROFESSOR & HOD<br>B.E. (CSE),M.E. (Electronics
        Engg.),<br>Ph.D (Signal Processing)</span>
      <h6>Email: slnalbalwar@dbatu.ac.in<br>Phone No: 8793814621</h6>
  <p><a class="btn  btn-outline-success" href="https://dbatu.ac.in/dr-sanjay-l-nalbalwar/">View profile &raquo;</a></p>
    </div>

    <div class="col-lg-3 alumini"> <br>
    <img class="oneimg1 border border-2" src="https://dbatu.ac.in/wp-content/uploads/2017/03/khobragade.png" alt=""> <br> <br>
    <h5>Prof. S. V. Khobragade </h5>
    <span>PROFESSOR <br>B.E.(Electronics
      Engineering),<br>M.E(Electronics
        Engineering) <br>Ph.D (Research Scholar)</span>
    <h6><br></h6>
    <p><a class="btn  btn-outline-success" href="https://dbatu.ac.in/prof-sanjay-khobragade/">View profile &raquo;</a></p>
  </div>

  <div class="col-lg-3 alumini"> <br>
  <img class="oneimg1 border border-2" src="https://dbatu.ac.in/wp-content/uploads/2016/12/nsjadhav.png" alt=""> <br> <br>
  <h5>Prof. N. S. Jadhav</h5>
  <span>PROFESSOR <br>B.Tech.
    <br>M.Tech</span>
  <h6>Email: nsjadhav@dbatu.ac.in<br>Phone No: 9423091564</h6>
<p><a class="btn  btn-outline-success" href="https://dbatu.ac.in/narendra-suresh-jadhav/">View profile &raquo;</a></p>
</div>

<div class="col-lg-3 alumini"> <br>
<img class="oneimg1 border border-2" src="https://dbatu.ac.in/wp-content/uploads/2017/03/ETc-SBD.jpg" alt=""> <br> <br>
<h5>Dr. S. B. Deosarkar </h5>

<p><a class="btn  btn-outline-success" href="https://dbatu.ac.in/dr-sanjay-l-nalbalwar/">View profile &raquo;</a></p>
</div>

  </div> <br> <br>

<div class="teachingstaff">
  <h2 class="allums">Teaching and technical staff</h2>
  <hr class="border border-success border-1">

  <!-- Small Screen Carousel -->

  <div class="smallmobilec">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div style="height:460px;" class="carousel-item active">
    <div class=" alumini">
    <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/scan-Kunal-Kamble.jpg" alt=""> <br> <br>
  <h2>Prof. Kunal Kamble</h2>
  <p> B.Tech (SGGS) M.Tech (DBATU) P.hd (DBATU) <br>Email : kunal24178@gmail.com</p>
  <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/KUNAL_CV_2019-Kunal-Kamble.pdf">View details &raquo;</a></p>
  </div>
  </div>
  <div style="height:460px;" class="carousel-item">
    <div class=" alumini">
    <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2017/05/extc-aniket-jangam.jpg" alt=""> <br> <br>
  <h2>Prof. Aniket Jangam</h2>
  <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
  <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/ANIKET_Resume-November-2020-Aniket-Jangam.pdf">View details &raquo;</a></p>
  </div>    </div>
  <div style="height:460px;" class="carousel-item">
    <div class=" alumini">
    <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/pallavi.jpg" alt=""> <br> <br>
  <h2>Prof. Pallavi Ingale</h2>
  <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
  <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/Dr-Pallavi-Ingale-CV-sept-2021-1-Sanjay-Nalbalwar.pdf">View details &raquo;</a></p>
  </div>    </div>
  <div style="height:460px;" class="carousel-item">
    <div class=" alumini">
    <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2019/03/R-Bonde.jpg" alt=""> <br> <br>
  <h2>Prof. Roshan Bonde</h2>
  <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
  <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
  </div>    </div>
  <div style="height:460px;" class="carousel-item">
    <div class=" alumini">
    <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2019/03/Mr.-Tejas-Mahagaonkar.jpg" alt=""> <br> <br>
  <h2>Prof. Tejas Mahagaonkar</h2>
  <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
  <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/Teaching-Resume_Tejas_final-1-Tejas-Mahagaonkar-1.pdf">View details &raquo;</a></p>
  </div>    </div>
  <div style="height:460px;"class="carousel-item">
    <div class=" alumini">
    <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2019/03/Mrs.-Mohini-Sheth.jpg" alt=""> <br> <br>
  <h2>Prof. Mohini Mehta</h2>
  <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
  <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/RESUME-MOHINI-21-Mohini-Sheth.pdf">View details &raquo;</a></p>
  </div>    </div>
</div>
<p><a class="btn btnmore btn-success" href="#">View More &raquo;</a></p>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
  </div>

<!-- Big Screen Carousel -->

<div class="Bigscreen">

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class=" carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <div class="row">
          <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/scan-Kunal-Kamble.jpg" alt=""> <br> <br>
        <h3>Prof. Kunal Kamble </h3>
        <p class="aluminip"> B.Tech (SGGS) M.Tech (DBATU) P.hd (DBATU) <br>Email : kunal24178@gmail.com</p>
        <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/KUNAL_CV_2019-Kunal-Kamble.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2017/05/extc-aniket-jangam.jpg" alt=""> <br> <br>
          <h3>Prof. Aniket Jangam</h3>
          <p class="aluminip">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
          <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/ANIKET_Resume-November-2020-Aniket-Jangam.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/pallavi.jpg" alt=""> <br> <br>
          <h3>Prof. Pallavi Ingale</h3>
          <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
          <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/Dr-Pallavi-Ingale-CV-sept-2021-1-Sanjay-Nalbalwar.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2019/03/R-Bonde.jpg" alt=""> <br> <br>
          <h3>Prof. Roshan Bonde</h3>
          <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
          <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
        </div>
        </div>
        </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="row">
          <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2019/03/Mr.-Tejas-Mahagaonkar.jpg" alt=""> <br> <br>
        <h2>Prof. Tejas Mahagaonkar</h2>
        <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
        <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/Teaching-Resume_Tejas_final-1-Tejas-Mahagaonkar-1.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2019/03/Mrs.-Mohini-Sheth.jpg" alt=""> <br> <br>
          <h2>Prof. Mohini Mehta</h2>
          <p class="aluminip">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
          <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/RESUME-MOHINI-21-Mohini-Sheth.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/IMG_20201126_121136-Ganesh-Kale.jpg" alt=""> <br> <br>
          <h2>Prof. Ganesh Kale</h2>
          <p class="aluminip">And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/2020-Ganesh-Kale.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2018/03/female-Demo.jpg" alt=""> <br> <br>
          <h2>Prof.Snehal Gaikwad</h2>
          <p class="aluminip">And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/snehal-Gaikwad-resume-2020-Snehal-Gaikwad.pdf">View details &raquo;</a></p>
        </div>
        </div>
        </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="row">
          <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/rsz_1img_20200612_002345-praful-bhagat.jpg" alt=""> <br> <br>
        <h2>Prof. Praful Bhagat</h2>
        <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
        <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/Praful_resume-Assistant-professor-converted-praful-bhagat.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/prashant-Prashant-Mahajan.jpg" alt=""> <br> <br>
          <h2>Prof. Prashant Mahajan</h2>
          <p class="aluminip">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
          <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/Prashant.Mahajan_2021-Prashant-Mahajan.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2023/01/IMG-20210222-WA0005-ALIPTA.jpg" alt=""> <br> <br>
          <h2>Prof. Alipta Pawar</h2>
          <p class="aluminip">M.Tech (E&TC- DBATU) <br>B.Tech (E&TC- GIT)</p>
          <p><a class="btn btn-outline-success" href="https://dbatu.ac.in/wp-content/uploads/2023/01/2021-Resume-Alipta-pawar-Alipta-Pawar.pdf">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3 alumini">
          <img class="oneimg border border-2" src="https://dbatu.ac.in/wp-content/uploads/2018/03/female-Demo.jpg" alt=""> <br> <br>
          <h2>Prof. Ratika Jadhav</h2>
          <p class="aluminip">And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
        </div>
        </div>
         </div>
    </div>
    <p><a id="academics" class="btn viewmore btn-success" href="#">View More &raquo;</a></p>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span style="margin-right:100px;" class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span style="margin-left:120px;" class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  </div>

</div>

  <!-- subjects and syllabus section -->

  <div  class="subsly" id="subsly"><br>
    <h2 class="allums">Subjects & Syllabus</h2>
    <hr class="border border-success border-1">
    <br>
    <div class="row">
    <div class="col-lg-6">
      <h4>Academic Year 2021-2022 </h4>
      <h5>First Year B.Tech (Extc)</h5>
      <span>Subjects and Syllabus</span>
    </div>
    <div class="col-6 mss">

      <a href="#" class="ssbtn btn btn-outline-success">View</a>
      <a href="#" class="ssbtn btn btn-outline-success">Download</a>
      <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
    </div>
  </div>
  <hr class="borderss">

  <div class="row">
    <div class="col-lg-6">
      <h4>Academic Year 2021-2022 </h4>
      <h5>Second Year B.Tech (Extc)</h5>
      <span>Subjects and Syllabus</span>
    </div>
    <div class="col-lg-6 mss">
      <a href="#" class="ssbtn btn btn-outline-success">View</a>
      <a href="#" class="ssbtn btn btn-outline-success">Download</a>
      <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
    </div>
  </div>
  <hr class="borderss">

  <div class="row">
    <div class="col-lg-6">
      <h4>Academic Year 2021-2022 </h4>
      <h5>Third Year B.Tech (Extc)</h5>
      <span>Subjects and Syllabus</span>
    </div>
    <div class="col-lg-6 mss">
      <a href="https://drive.google.com/file/d/1xcfYIH2CeHDj_jRzzE6N2bA4y6D1s1Dw/view?usp=drivesdk" class="ssbtn btn btn-outline-success">View</a>
      <a href="https://drive.google.com/file/d/1xcfYIH2CeHDj_jRzzE6N2bA4y6D1s1Dw/view?usp=drivesdk" class="ssbtn btn btn-outline-success">Download</a>
      <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
    </div>
  </div>
  <hr class="borderss">

  <div class="row">
    <div class="col-lg-6">
      <h4>Academic Year 2021-2022 </h4>
      <h5>Fourth Year B.Tech (Extc)</h5>
      <span>Subjects and Syllabus</span>
    </div>
    <div class="col-lg-6 mss">
      <a href="https://drive.google.com/file/d/1xcfYIH2CeHDj_jRzzE6N2bA4y6D1s1Dw/view?usp=drivesdk" class="ssbtn btn btn-outline-success">View</a>
      <a href="https://drive.google.com/file/d/1xcfYIH2CeHDj_jRzzE6N2bA4y6D1s1Dw/view?usp=drivesdk" class="ssbtn btn btn-outline-success">Download</a>
      <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
    </div>
  </div><br><br>
  </div>

<!-- Schedule & Timetable -->

<br>
<div class="subsly1" id="subsly"><br>
  <h2 class="allums">Schedule & Timetable</h2>
  <hr class="border border-success border-1">
  <br>
  <div class="row">
  <div class="col-lg-6">
    <h4>Academic Year 2021-2022 </h4>
    <h5>First Year B.Tech (Extc)</h5>
    <span>Schedule & Timetable</span>
  </div>
  <div class="col-lg-6 mss">

    <a href="#" class="ssbtn btn btn-outline-success">View</a>
    <a href="#" class="ssbtn btn btn-outline-success">Download</a>
    <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
  </div>
</div>
<hr class="borderss">

<div class="row">
  <div class="col-lg-6">
    <h4>Academic Year 2021-2022 </h4>
    <h5>Second Year B.Tech (Extc)</h5>
    <span>Schedule & Timetable</span>
  </div>
  <div class="col-lg-6 mss">
    <a href="#" class="ssbtn btn btn-outline-success">View</a>
    <a href="#" class="ssbtn btn btn-outline-success">Download</a>
    <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
  </div>
</div>
<hr class="borderss">

<div class="row">
  <div class="col-lg-6">
    <h4>Academic Year 2021-2022 </h4>
    <h5>Third Year B.Tech (Extc)</h5>
    <span>Schedule & Timetable</span>
  </div>
  <div class="col-lg-6 mss">
    <a href="https://drive.google.com/file/d/1xg1kIr8pcRA5wNJGjiBGL-ch2iYQyqwO/view?usp=drivesdk" class="ssbtn btn btn-outline-success">View</a>
    <a href="https://drive.google.com/file/d/1xg1kIr8pcRA5wNJGjiBGL-ch2iYQyqwO/view?usp=drivesdk" class="ssbtn btn btn-outline-success">Download</a>
    <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
  </div>
</div>
<hr class="borderss">

<div class="row">
  <div class="col-lg-6">
    <h4>Academic Year 2021-2022 </h4>
    <h5>Fourth Year B.Tech (Extc)</h5>
    <span>Schedule & Timetable</span>
  </div>
  <div class="col-lg-6 mss">
    <a href="#" class="ssbtn btn btn-outline-success">View</a>
    <a href="#" class="ssbtn btn btn-outline-success">Download</a>
    <a href="#" class="ssbtn btn btn-outline-success">Contact Dept.</a>
  </div>
</div>
<br>

<!--Miniproject structure and stuff-->

<br id="projects">
<div class="minipr"><br>
  <h2 class="allums">Projects</h2>
  <hr class="border border-success border-1">
  <div class="row">
    <div class="col-lg-6 prdiv">
      <img class="minimg" src="/Images/welcome.png" alt=""> <br> <br>
    </div>
    <div class="col-lg-6">
      <br><h5 class="prhead">"Projects for your Refrence" </h5> <br>
      <p class="prpara norm">  A mini project is an assignment that you try to complete at the
        end
        of every
        semester ,especially in engineering to strengthen the understanding of your
        fundamentals
        through effective application of theoretical concepts.</p>
<form class="" action="index.html" method="post">
  <input class="uploadpr" type="file" name="" value="" placeholder="Upload Project">
  <button class="btn btn-outline-success" type="files" name="button">Upload Project</button>
</form>
    </div>
      </div>

      <div class="accordion ek btnlists" id="accordionPanelsStayOpenExample">
    <div  class="accordion-item">
      <h2  class="accordion-header" id="panelsStayOpen-headingOne">
        <button  class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
      <span class="btnname">Project topics and reports</span>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
        <div style="text-align:left;" class="accordion-body">
        <ul>
          <a target="_blank" href="https://docs.google.com/presentation/d/1TH-F6mF28UdyUTfRizZ0c0EZ53nWUt4C/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Women's Safety Device With GPS Tracking and Alerts
              (.ppt)
            </li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1c6-hHAPTnHlh-NcMUZH_-QcdkN7tcnpZ/view?usp=sharing">
            <li>Women's Safety Device With GPS Tracking and Alerts
              (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1to0YxPqIyQP4uuTfM3kiYc_5jTx3Gseu/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Heart Beat/Pulse Measurement Device (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/10jPyo1TZRNi7wAYjM4mI1S1f5D9u0qut/view?usp=sharing">
            <li>Heart Beat/Pulse Measurement Device (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1ltN-yKe46GT9VDbS6ejtOVRknxobCwfv/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Anti Sleep Alarm for Drivers (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1a5dc0SVWHgSL2LLuBq6bhcF4JKqbi7WT/view?usp=sharing">
            <li>Anti Sleep Alarm for Drivers (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1aOH5EwjLe94ucUF9j6M4OzZKPZFFvMgC/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Smart Watch - Monitoring Social Distancing (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/18Ti2Z1PwryH8-hIBO6fg5I2dNkVWISMx/view?usp=sharing">
            <li>Smart Watch - Monitoring Social Distancing (Report.pdf)
            </li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/16H6L4KILcvPIrscDF_cnuw12QZyEt3i6/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Automatic Light Controller (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1LCyuTB3gN7FheNwcmtQBYpPoE9dO4XbU/view?usp=sharing">
            <li>Automatic Light Controller (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/119piv4KLijiKJC6jYKyjaZb2MTKrrNge/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Fingerprint Door Lock System (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1SNO_Ln0jT1lS1T7PXKtn4RsHvxpngcDK/view?usp=sharing">
            <li>Fingerprint Door Lock System (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1uzLeevXO7RUqXr31xQ_agIa36zpbdQc5/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Temperature Scanning Gate For Corona Patient (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1RGCbk-ea3SXFnmYblGrjfBjrMDjqTdnt/view?usp=sharing">
            <li>Temperature Scanning Gate For Corona Patient
              (Report.pdf)
            </li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1fGOkzxyBy_6pGwNPd9cAFH1BBMogWx36/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Smart Automation Car parking system (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1s2fa6QdhBRZaz-MT5hM23rG6-xpjfb5P/view?usp=sharing">
            <li>Smart Automation Car parking system (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1nraiK-ccGw6eaE2ZPpPxI3AJX3-zF1u1/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Obstacle Detection Robot Or Arduino Radar (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/146iLptp1UFjzlDy16-ji7epMruSOipAT/view?usp=sharing">
            <li>Obstacle Detection Robot Or Arduino Radar (Report.pdf)
            </li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1DotuREF7C_itiQe9isLN00D9dtaHjel2/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Home Automation System (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1FDrTDIgGbMsGDNQ56MLMSUAHfzO8KH43/view?usp=sharing">
            <li>Home Automation System (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1ZQ5TwdM6FjXJuaBfvDs3xj1dhASvQczr/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Wireless Notice Board (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1tTf7nmFLLwrr9MzOQMHlCqcBXX1oq2d3/view?usp=sharing">
            <li>Wireless Notice Board (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1p-KXrlH1VdF20H24_W1JT9_8830F6SnO/view?usp=sharing">
            <li>Smart Irrigation System (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1RvnQCP5OeTXEVXVOPrb-CTwRAORZu-Qm/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Smart Stick For Blind People (.ppt)</li>
          </a>
          <a href="https://drive.google.com/file/d/1AMt6DOQKzV4O4z0Fh5l3Ma8vwIk3Eh-O/view?usp=sharing">
            <li>Smart Stick For Blind People (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1dEJqOP3wZ0OyXFSV1W_rQKW4RdwgH0RP/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Obstacle Detecting Robot Using Arduino And Ultrasonic
              Sensors (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1yLSUfX-FP5eDiAzAJKW3b99iXAsi_CgV/view?usp=sharing">
            <li>Smart Attendance Tracking System Using RFID and NodeMCU
              (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/14-1EtCdqlnAksNS_u3wewm4zDBRwEhkj/view?usp=sharing">
            <li>Advanced Wireless Mobile Charger (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1ylOj2oS5MyqVdkirHGk7vQ3DC5op67ky/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Advanced Wireless Mobile Charger (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1lYK-n2fs1fvx2Dj9MOOTSjeXZ1C0tuUY/view?usp=sharing">
            <li>DBATU Student Drive Website (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/17wsBDvi8jgy9HBhvvfw7GmP538l_Kayb/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Weather Station (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1uzcSBMvsr8-gBAo5l7xwhxqUWNSFU14O/view?usp=sharing">
            <li>Weather Station (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1vfIqKIjIHBC6j0vhdmvR0hp3t976sFbp/view?usp=sharing">
            <li>Earthquake Detector Alarm Using Arduino (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1w2Cpg7mUtdHb6jeqVssVWWZ9u1juHU2n/view?usp=sharing">
            <li>Earthquake Detector Alarm Using Arduino (Report.pdf)
            </li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1jsWKIFMyBFEP0JCO9A7PjbcNElq5Gwdp/view?usp=sharing">
            <li>Gas Leakage Detector Using SMS Alert (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1hP2l2TnL6iehBFt1YrXhhcWXncLW27jA/view?usp=sharing">
            <li>Gas Leakage Detector Using SMS Alert (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1jsWKIFMyBFEP0JCO9A7PjbcNElq5Gwdp/view?usp=sharing">
            <li>Car Speed Detection using Arduino (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1Ej4DCLqRecHtKEm9ve1dplieYCwz6Wr7/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Car Speed Detection using Arduino (.ppt)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1sDXCZ8BAKgRyD11FkxSBrtPdA7Zou_4o/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Color Detection Using Arduino (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1mRencBVlBJ0ByNh99hLokf1vRTjZZ5or/view?usp=sharing">
            <li>Color Detection Using Arduino (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1DbdSCSWLY-2sDn7DFVGpMPks5GefwAqx/view?usp=sharing">
            <li>Remote Control Solar Grass Cutter (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/13z1ufUjuqXorIPUsLjtAgl0UveYW3x8_/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Remote Control Solar Grass Cutter (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/12JWSgcuwBmOVgZf3fdh_DJlEMrO-uemz/view?usp=sharing">
            <li>Buzz Wire Game Using Arduino (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1OCyHII7Qh0NeCvSzxaTIpaf2ff8uRgIz/view?usp=sharing">
            <li>Buzz Wire Game Using Arduino (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1OINF4_r9_cr0JdJIhKIpqHONlRMW1RPV/view?usp=sharing">
            <li>Smart Gate Using RFID Module (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1jBU0WQrVFYWJQYbzQqqxZMrgqMyBkneE/view?usp=sharing">
            <li>Smart Gate Using RFID Module (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1l5filPurjhzkBZzVlWx0-KB3eUhI13eH/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Arduino Based Wireless Notice Board Using Bluetooth
              (.ppt)
            </li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1d2FJQBuHxewj-fw-ML_PlpMzbs0exioj/view?usp=sharing">
            <li>Arduino Based Wireless Notice Board Using Bluetooth
              (Reeport.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1ELRugTzj0paNMlQAg8AYxEN7WPgF-vwD/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Pharmacy Management System (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1ScXyXg2-EsoGh6Lct3iwvrKHipK6OiP6/view?usp=sharing">
            <li>Pharmacy Management System (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/16-dDeFl48jGCsuWTsAM0joRuzjIjn3Z-/view?usp=sharing">
            <li>Sign Language Translator (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1MgaGz9mFJZI1LCRtj4xQaLccQk7X9-IB/view?usp=sharing">
            <li>RC Boat Using Bluetooth Module (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1V-91xfAOO73HkVF4f5lfMrisX7WQw2IT/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>RC Boat Using Bluetooth Module (.ppt)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1MQLjknZ96mqmxvqlokiu-JqOZkbep6p_/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Snake Game Uisng Arduino Uno (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1uNGlGUhyn0aKVRayk1NP_wbCpHMmnxhB/view?usp=sharing">
            <li>Snake Game Uisng Arduino Uno (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1fmPpXkcK9moew4rX92kD8BllTGXQhSM4/view?usp=sharing">
            <li>Alcohol Sensing and Engine Locking System (Report.pdf)
            </li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1XU7OHO3PDMKVLm2l6gbXJSAqz9rmCW-w/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Alcohol Sensing and Engine Locking System (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1M-kg1PjGfYSfUCA9Uz0YCxsl5wTbySpD/view?usp=sharing">
            <li>Car Ignition using Fingerprint (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1msO5nzuU9rFiPrzOsxDr7DWWboYs-5an/view?usp=sharing">
            <li>Temperature Based Fan Speed Control And Monitoring with
              Arduino (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1T4FrdT94dKfWIWURFUyxeaIm9hklTZp3/view?usp=sharing">
            <li>Single Axis Solar Tracer (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1JSXMkm7V84NzZZkE7pBX9Hd_qcxqFI-g/view?usp=sharing">
            <li>Smart Carrier (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/155qDHGLtxMS2vKGSrtFAtefIc9NTSk1A/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Smart Carrier (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1WMUbdRJ0vR9AY8Uz2dzzGHXoIIMesnBl/view?usp=sharing">
            <li>Windows Login Using Arduino Uno and RFID (Report.pdf)
            </li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1UiVQwUQLsoodRuzmc4vRU-lWu7EVLb2f/view?usp=sharing">
            <li>Distance Measurement Using Ultrasonic Sensor
              (Report.pdf)
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
  </div> <br>

<!--Seminar Topics structure and stuff-->

<br>
<div class="minipr"><br>
  <h2 class="allums">Seminars</h2>
  <hr class="border border-success border-1">
  <div class="row">
      <div class="col-lg-6">
      <br><h5 class="prhead">"Seminar topics for your Refrence" </h5> <br>
      <p class="norm prpara"> A seminar is an assignment that you try to complete at the
        end of every semester ,especially in engineering to strengthen the presentation skills of every individual
        through effective presentation sessions.</p>
        <form class="" action="index.html" method="post">
          <input class="uploadpr" type="file" name="" value="" placeholder="Upload Project">
          <button class="btn btn-outline-success" type="files" name="button">Upload Seminar</button>
        </form>
    </div>
    <div class="col-lg-6 prdiv">
      <img class="minimg" src="https://img.freepik.com/free-vector/coach-speaking-before-audience-mentor-presenting-charts-reports-employees-meeting-business-training-seminar-conference-vector-illustration-presentation-lecture-education_74855-8294.jpg?w=2000" alt=""> <br> <br>
    </div>

    <div class="accordion btnlists" id="accordionPanelsStayOpenExample">
  <div  class="accordion-item">
    <h2  class="accordion-header" id="panelsStayOpen-headingTwo">
      <button  class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
    <span class="btnname" >Seminar topics and reports</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingTwo">
      <div style="text-align:left;" class="accordion-body">
        <ul>
          <a target="_blank" href="https://docs.google.com/presentation/d/1L48mJtUt0EvjAe-N5RUpnS7gotgD8n6M/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Free Space Optics Technology (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1K8E1iORN7dA_K6MWvs2ZFBCBhr2RplVQ/view?usp=sharing">
            <li>Free Space Optics Technology (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1Oqyb3N3TdjhqVFCSArftLP9bZAhcgGlw/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Otical Computers (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/14rEzzmLSTEJ-UCZY9Ou8T9dWHNj7f6TA/view?usp=sharing">
            <li>Optical Computers (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1IWmEkuoHCnEsRU8ZQb8WoUj_gSc2EyR7/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Thermography (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1jgSogNE8JQQH7cgplAQdzv1y7HgYIZ6a/view?usp=sharing">
            <li>Thermography (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/15Qt3q6om3a5S9ywEaK-OGALiJgmlXdEz/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>WiFi Technology (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/15p3acuLgZRibgq8MbBIdHQL0Tsg47n_7/view?usp=sharing">
            <li>WiFi Technology (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1DWfmnDiTV7LThfmtYGj82SOWV4YO4W2d/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>E-Link Technology (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1Ls53C1JrAifE032X4j9QNKfgfptgnAYT/view?usp=sharing">
            <li>E-Link Technology (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1UijQg0aUtFOqsDOx-Qg4e3noAioSCFRl/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Brain Chip (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1sPz3S_QHWoWjbBb2xeFNFJYAxVUEHlT4/view?usp=sharing">
            <li>Brain Chip (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1gRjB3dH6tEvUuAHnU4kERNJoxPArx87s/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Optical Fibre Cable (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/11_BZ4B3HmfnJrZa7WyuI0qcDcfbaTClW/view?usp=sharing">
            <li>Optical Fibre Cable (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1FO6ZW1lLrU9ryG2w7LSPGiFFkNVHJEKT/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Optical Mouse (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/12LntIPWrXhFt7gJ1M0S1YO4COn7SlTYc/view?usp=sharing">
            <li>Optical Mouse (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1AW85Uuv0ZOSeCqKdzlQYSFA9xVvlpGrW/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Sensor Technology (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1M_fWy57CGnWx7aCOzVKak0z8yc02B-Dd/view?usp=sharing">
            <li>Sensor Technology (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/10FEWzn5fcwoACoz8cCnGkglhJkIKrZA2/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Smart Cards (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1dKxxRKX3BodjfwRij8l_xw9uYMvWoNrd/view?usp=sharing">
            <li>Smart Cards (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1JjffJ3BdapNek8Qk7bTW5xMzEUl1QMJa/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Telemedicine Systems (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1wTfIK-wmHw6H3jaL9EJ1u18qrobU4PTn/view?usp=sharing">
            <li>Telemedicine Systems (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1HlWWoOJJiNvny9aPC_q974T3eFV5-TZK/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Acoustic Echo Cancellation (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1Y6Ztty997SiVNXafxq0dFzsDbfAEYFKm/view?usp=sharing">
            <li>Acoustic Echo Cancellation (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1y1eznoz8P_A6dik1YzvpHvsYGgBLnEMO/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Space Based Solar Power (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/16MhSn4gf81kvu9qQaOpgbMZi2mwOfhSW/view?usp=sharing">
            <li>Space Based Solar Power (Report.pdf) </li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1i6Soq4IU0G-UlzSEcWSHFGoY_mZhtaGY/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Space Mouse (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1Cm3PkzOvd-_uqvqvBOvZ-rcD4ktH5hnP/view?usp=sharing">
            <li>Space Mouse (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1PcePh08hA2fKV_jRAlMLf95fNM6FKjPP/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Radio Frequency Identification (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1M7N-mpS0M1hceY8B5sowRkzYVpXNTMdy/view?usp=sharing">
            <li>Radio Frequency Identification (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1cifuj1Sy44exlVpsGd_k-cf33zwzt-Ff/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Paper Battery (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1EGvDvwEpoXot2qlcZ7AzOzmFjJTAojEF/view?usp=sharing">
            <li>Paper Battery (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1vVyUxHtv4e-Sjf9yM4ULLJ3M9ltIm2m3/view?usp=sharing">
            <li>Ultrasonic Transducer (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1DaBUrrQGdrZ2zN_gMF561peSH6_vMnll/view?usp=sharing">
            <li>Wireless Medical Monitoring System (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1LDo-sYlXWYzYWop1qS7joN1PsNskeZ_k/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Pill Camera (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/13uc5wla3I-lGfGELAO2DDRkvPgpgr0l7/view?usp=sharing">
            <li>Internet Of Things (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://docs.google.com/presentation/d/1hdjiJD62x5oQe7MGj4_zbKcp1KFUdms9/edit?usp=sharing&ouid=116865361016031989309&rtpof=true&sd=true">
            <li>Silent Sound Technology (.ppt)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1VD_nYEyfRPVJV1lhRL638qv7BGoUS2-O/view?usp=sharing">
            <li>Infrared Plastic Solar Cell (Report.pdf)</li>
          </a>
          <a target="_blank" href="https://drive.google.com/file/d/1izy-cdML8Ue4rxzSVtPge5aCIu5O70pX/view?usp=sharing">
            <li>Military Radar System (Report.pdf)</li>
          </a>
        </ul>
      </div>
    </div>
    </div>
    </div> <br>

<!-- End Seminars list -->


<%- include('footer'); -%>
