<!-- FOOTER -->

<footer style="margin:30px 0 0 0;background-color:black; height:100%;color:white;" class="">
  <div class="">

    <div style="margin:0;" class="row">
      <div class="ftleft col-lg-6">
        <img class="footimg" src="/Images/logo123.png" alt=""> <br> <br>
        <h6>Electronics and Telecommunication Engineering</h6>
        <a class="foota" target="_blank" href="https://goo.gl/maps/ctEUqNn56C3fFu7X8">
          <p><strong><i class="fa-solid fa-location-dot"></i>&nbsp Dr. Babasaheb Ambedkar Technological University, Lonere, Raigad-402103</strong></p>
        </a> <br>
        <p>We worked for the betterment of students and bringing them together for more explosure. <a class="foota1" href="createaccount">Join us</a></p>
      </div>

      <div class="ftright col-lg-6">

        <!-- Mobile Screen Footer -->
        <div class="footermob">

          <a href="#">Home</a> <a class="anchorfoot" href="#">Connect</a>
          <hr class="foothr">
          <a href="#">Features</a> <a class="anchorfoot1" href="#">Students</a> <br>
          <a href="#">Account</a> <a class="anchorfoot1" href="#">Admin</a> <br>
          <a href="#">About </a> <a class="anchorfoot" href="#">Community</a> <br>
          <a href="#">Guide</a> <a class="anchorfoot" href="#">Placements</a> <br>
          <a href="#">Events</a> <a class="anchorfoot12" href="#">Suggestions</a>

        </div>


        <!-- Big Screen Foooter -->
        <div class="footerbigscreen row">
          <div class="row">
            <div class="col-lg-4">
              Home
            </div>
            <div class="col-lg-4">
              Album
            </div>
            <div class="col-lg-4">
              Connect
            </div>
          </div> <br> <br>

          <hr class="foothr">

          <div class="col-lg-4 ">
            <p>Features</p>
            <p>Account</p>
            <p>About</p>
            <p>Guide</p>
          </div>
          <div class="col-lg-4 ">
            <p>Events</p>
            <p>Achievements</p>
            <p>Placements</p>
            <p></p>
          </div>
          <div class="col-lg-4 ">
            <p>Students</p>
            <p>Admin</p>
            <p>Community</p>
            <p>Suggestions</p>
          </div>
          <form class="" action="home" method="post">
            <input class="acinputsfoot" type="text" name="" value="" placeholder="Search You Need">
            <button style="color:white;" class="btn btn-outline-success" type="submit" name="button">Search</button>
          </form>
        </div>
      </div>
    </div>
    <hr class="foothr1">
    <p class="footlastline">© EXTC.Tech 2022 | Student Community <br class="mobbr"> <br class="mobbr">
      <a class="footicon" href="https://github.com/MRadesh3"><i class="fa-brands fa-2x if fa-github"></i></a>
      <a class="footicon1" href="https://bit.ly/38iI4NP"><i class="fa-brands fa-2x  if  fa-whatsapp"></i></a>
      <a class="footicon1" href="https://www.linkedin.com/in/adesh-salsundar-a73b4121a"><i class="fa-brands fa-2x if  fa-linkedin"></i></a>
      <a class="footicon1" href="https://www.instagram.com/invites/contact/?i=tcrobgo2iky6&utm_content=3j8wxrb"><i class="fa-brands fa-2x  if  fa-instagram"></i></a>
    </p>
  </div>
</footer>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="app.js" charset="utf-8"></script>
</body>

</html>
