<%- include('header'); -%>

<div  class="b-example-divider upg"></div>

<div   class="titleline ">

  <nav class=" navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
      <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="deptli12 linkzoom nav-link active" aria-current="page" href="#">Internships</a>
          </li>
          <li class="nav-item">
            <a class="deptli linkzoom nav-link active" href="#">Competition</a>
          </li>
          <li class="nav-item ">
            <a class="deptli linkzoom nav-link active" href="#">Quizes</a>
          </li>
          <li class="nav-item ">
            <a class="deptli linkzoom nav-link active" href="#">Courses</a>
          </li>

          <form class="d-flex">
            <input class="searchboxm form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="searchboxm btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>


</div>

  <div style="margin-top:60px ;width:100%;" class="row">
    <div class="mobileset col-lg-6">
      <img class="gimg" src="https://img.freepik.com/premium-vector/hiring-recruitment-concept-woman-sitting-desk-with-business-suit-job-interview-illustration_138260-631.jpg?w=740" alt="">
    </div>
    <div style="text-align:center;" class="col-lg-6">
<h1 class="ghead" ><span style="color:#570A57;">Upgrade</span> your <span style="color:#D82148;">skills</span> to <br> amazing level</h1>
<h5 class="gsubhead">"We are your skills imformative partners"</h5> <br>
<p>Let's built a better future together with young emerging minds and help each other succeed on the way.</p> <br>
<a href="createaccount">  <button class="btn btnup btn-outline-success"type="button" name="button">Create Account</button></a>

    </div>
  </div>

  <div class="">
    <h1 class="programming">Programming Courses</h1>
    <hr style="margin:0 25px;" class="border border-success border-1">

<div style="width:100%;" class="row">
  <div style="padding:30px;text-align:center;" class="col-lg-6">
    <div style="background-color:rgb(33,37,41);color:white;padding:30px;" class="progdiv">
<a href="https://www.udemy.com/share/101qYw3@gVrg_HCAtPVKZr20xgW9ExttxJSubaSEfiWJFQdvWaQka5HrmF88PweeBAaxI_vRmw==/">
  <img class="courseimg" src="https://pbs.twimg.com/media/FPg8IHhWUAE0Zyz?format=jpg&name=large" alt=""> <br> <br>
            <h5>The complete 2022 Web Development Bootchamp</h5>
<p>Become a Full-Stack Web Developer with just ONE course. HTML, CSS, Javascript, Node, React, MongoDB, Web3 and DApps</p>
    Created By :- Dr.Angela Yu &nbsp &nbsp <button class="btn btn-outline-light" type="button">Get the course</button>  </a>
    </div>
  </div>

  <div style="padding:30px;text-align:center;"  class="col-lg-6">
    <div style="background-color:#EFF5F5;color:black;padding:30px;" class="progdiv1">
<a href="https://www.udemy.com/share/101Wd43@dFEUIUAnha0ig70w-ufb1IOWxOGb2DI4ZbWqSow5_lDOD1rvOFOInpSyCmBMwT4j3Q==/">
<img class="courseimg" src="https://coursecouponclub.com/wp-content/uploads/2021/05/1576854_9aeb_2-1024x576.jpeg" alt=""> <br><br>
      <h5>Beginning C++ Programming-From Beginner to End</h5>
<p>Obtain Modern C++ Object-Oriented Programming (OOP) and STL skills. C++14 and C++17 covered. C++20 info see below.</p>
Created By :- Dr.Frank Mitropoulos &nbsp &nbsp <button class="btn btn-outline-success" type="button">Get the course</button>  </a>
  </div>
  </div>
</div>

  </div>

  <div style="width:100%;" class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Change the background</h2>
      <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
      <button class="btn btn-outline-light" type="button">Example button</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Add borders</h2>
      <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      <button class="btn btn-outline-secondary" type="button">Example button</button>
    </div>
  </div>
</div>

  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Icon grid</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
<i class="fa-solid icong fa-2x fa-user-tie"></i>
  <div>
          <h4 class="fw-bold mb-0">Help in internships</h4>
          <p>Guidance or reference to enhance your interviews.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
<i class="fa-solid icong fa-2x fa-code"></i>        <div>
          <h4 class="fw-bold mb-0">Help in programming</h4>
          <p>Guidance to proper coding course to enhance coding skills.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
<i class="fa-solid icong fa-2x fa-microchip"></i>        <div>
          <h4 class="fw-bold mb-0">Hardware Dealing</h4>
          <p>Helping students to get ease in handling with harware and projects releated to it.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
      <i class="fa-solid icong fa-2x fa-file-user"></i>
        <div>
          <h4 class="fw-bold mb-0">Resume Building</h4>
          <p>Proper reference and guidance to make your resume/CV unique.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
<i class="fa-solid icong fa-2x fa-circle-video"></i>
        <div>
          <h4 class="fw-bold mb-0">Programming Courses</h4>
          <p>Help in selecting the best course of your interest of coding.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
<i class="fa-regular icong fa-2x fa-bullseye-arrow"></i>        <div>
          <h4 class="fw-bold mb-0">Fixed th target</h4>
          <p>Lights the goal target of you with our emerging students guidance.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
<i class="fa-solid icong fa-2x fa-group-arrows-rotate"></i>        <div>
          <h4 class="fw-bold mb-0">Community formation</h4>
          <p>Bringing all the students on digital platform for securing connections. </p>
        </div>
      </div>


      <div class="col d-flex align-items-start">
<i class="fa-solid icong fa-2x fa-link"></i>        <div>
          <h4 class="fw-bold mb-0">Proper connection</h4>
          <p>Proper reference for us can make things better.</p>
        </div>
      </div>
    </div>
  </div>


<%- include('footer'); -%>
