<%- include('header'); -%>

<marquee class="headline"> * Attention : Project Presentation 2023 : Project Presentation for seventh semester 2022-2023 held on 7 January 2023 * * Industrial Visit 2022 : EXTC brings you the final trip together to BHEL, JSV Electronics. *</marquee>

<div class="row welcome">
  <div class=" col-lg-6">
    <img class="welimg" src="/Images/main.png" alt=""> <br>
    <a class="button" href="#Subscribebtn">Subscribe</a>
  </div>
  <div class="right col-lg-6">
    <h5 class="homesubhead">"Welcome to student chapter"</h5>
    <h1 class="mainheading"> <span style="color:#BF1363;">E</span>lectronics & <span style="color:#BF1363;">T</span>elecommunication <br> <span style="color:#BF1363;">E</span>ngineering</h1>
    <hr class="border border-success border-1">
    <p class="homesubhead1">Creating a digital electronics community of students and serving students to get the best possible benefits. </p> <br>
    <p class="homesubhead12">Join us today to explore more with us</p>
    <a href="register"> <button class="btn btnup btn-outline-success" type="button" name="button">Join with us</button></a>
    <a href="login"> <button class="btn btnup btn-outline-success" type="button" name="button">Login</button> </a>
  </div>
</div>

<div style="margin-top:40px;" class=" marketing container">

  <!-- Mobile Screen Carousal -->
  <div class="smallmobilec aluminia">
    <h1 class="allum">Our Alumni</h1>
    <hr class="border border-success border-1">
    <h6>The opportunity to rekindle old friendships through the alumni search facility.</h6> <br>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div style="height:460px;" class="carousel-item active" data-bs-interval="3000">
          <div class=" alumini">
            <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
            <h2>Adesh Salsundar </h2>
            <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
            <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
          </div>
        </div>
        <div style="height:460px;" class="carousel-item" data-bs-interval="3000">
          <div class=" alumini">
            <img class="oneimg border border-2" src="/Images/Fav3.png" alt=""> <br> <br>
            <h2>Rohit Ingole</h2>
            <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
            <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
          </div>
        </div>
        <div style="height:460px;" class="carousel-item" data-bs-interval="3000">
          <div class=" alumini">
            <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
            <h2>Adesh Salsundar 4</h2>
            <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
            <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
          </div>
        </div>
        <div style="height:460px;" class="carousel-item" data-bs-interval="3000">
          <div class=" alumini">
            <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
            <h2>Adesh Salsundar 3</h2>
            <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
            <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
          </div>
        </div>
        <div style="height:460px;" class="carousel-item" data-bs-interval="3000">
          <div class=" alumini">
            <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
            <h2>Adesh Salsundar 2</h2>
            <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
            <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
          </div>
        </div>
        <div style="height:460px;" class="carousel-item" data-bs-interval="3000">
          <div class=" alumini">
            <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
            <h2>Adesh Salsundar 1</h2>
            <p> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
            <p><a class="btn btn-outline-success" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <p><a class="btn btnmore btn-success" href="#">View More &raquo;</a></p>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Big Screen Carousel -->

  <div class="Bigscreen aluminia">
    <h1 class="allum">Our Alumni</h1>
    <hr class="border border-success border-1">
    <h6>The opportunity to rekindle old friendships through the alumni search facility.</h6> <br>

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="uplift carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <div class="row">
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
              <h3>Adesh Salsundar </h3>
              <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/ro.jpg" alt=""> <br> <br>
              <h3>Rohit Ingole</h3>
              <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/man.jpg" alt=""> <br> <br>
              <h3>Manmath Chandankar</h3>
              <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <div class="row">
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/shree.jpg" alt=""> <br> <br>
              <h2>Shrinivas Rathod</h2>
              <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
              <h2>Heading 3</h2>
              <p class="aluminip">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
              <h2>Heading 4</h2>
              <p class="aluminip">And lastly this, the third column of representative placeholder content.</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <div class="row">
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
              <h2>Adesh Salsundar</h2>
              <p class="aluminip"> B.Tech (Electronics and Telecommunication Engineering) Dr.Babasaheb Ambedkar Technological University</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
              <h2>Heading 5</h2>
              <p class="aluminip">Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 alumini">
              <img class="oneimg border border-2" src="/Images/Fav.jpg" alt=""> <br> <br>
              <h2>Heading 6</h2>
              <p class="aluminip">And lastly this, the third column of representative placeholder content.</p>
              <p><a class="btn subssign btn-outline-success" href="#">View details &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
      <p><a class="btn viewmore btn-success" href="#">View More &raquo;</a></p>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span style="margin-right:100px;" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span style="margin-left:120px;" class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Notice Board -->

  <div class=" good">
    <h5 class="noticeText">Notices & Announcements</h5> <br>
    <div class="row">
      <div class="col-lg-6">
        <h5 class="noticeTexts">Students</h5> <br>
        <ul>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp Introduction to new community</li>
          </a>
          <hr>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp Join Us and get more</li>
          </a>
          <hr>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp Great opportunities for students</li>
          </a>
          <hr>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp News Five</li>
          </a>
          <hr>
        </ul>
      </div>
      <div class="col-lg-6">
        <h5 class="noticeTexts">Events</h5> <br>
        <ul>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp Avishkar 2022 - Campus Level Round (19th November 2022) <ul>
                <li>&nbsp Registration Link</li>
                <li>&nbsp View Details</li>
              </ul>
            </li>
          </a>
          <hr>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp </li>
          </a>
          <hr>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp </li>
          </a>
          <hr>
          <a target="_blank" class="listitemsnb" href="#">
            <li>&nbsp </li>
          </a>
          <hr>
        </ul>
      </div>
    </div>

  </div>

  <!-- START THE FEATURETTES -->

  <h2 class="pb-2 headinggoal">Educational Accomplishments</h2>
  <hr class="border border-success border-1"> <br>

  <div class="row featurette">
    <div class="mobset col-md-5">
      <img class="fea" src="/Images/one1.jpg" alt="">
    </div>
    <div style="text-align:justify;" class="col-md-7">
      <h4 class="featureshead">About the University</h4>
      <h3 class="featureshead text-muted">Dr.Babasaheb Ambedkar Technological University</h3>
      <p>"Dr. Babasaheb Ambedkar Technological University (DBATU) is a unitary, Maharashtra state Technological University in Lonere, Maharashtra, India. It is named after Babasaheb Ambedkar, a prominent Indian jurist, economist, politician and
        social reformer.
        It was established by in 1989 under the Government of Maharashtra Act 1983. It is a statutory State Technical University and was established by the Government of Maharashtra through the Dr. Babasaheb Ambedkar Technological University Act.
        The university was accorded the status of an ‘affiliating’ university of the entire State of Maharashtra' from 2 March 2016, by Maharashtra Act No. XXIX of 2014.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="mobset mobilediv col-md-5">
      <img class="fea" src="/Images/you.jpg" alt="">
    </div>
    <div style="text-align:justify;" class="col-md-7">
      <h4 class="featureshead">About the Department</h4>
      <h3 class="featureshead text-muted">Electronics & Telecommunication Engineering</h3>
      <p>The department was established in the year 1995 with B. Tech programme with the intake of 60 students. In 2001, the department started M. Tech programme in Electronics & Telecomm Engineering with an intake of 18 students. The department has
        received additional intake of 60 from the academic year 2008-2009 at UG level. The department also started Ph.D programme from the academic year 2002-2003. The department is run with the mission to improve the quality of technical education
        through induction of technological innovations and aiming for achieving excellence in teaching, research and transfer of technology to the society.</p>
    </div>
    <div class="bigscreendiv col-md-5">
      <img class="fea" src="/Images/you.jpg" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="mobset col-md-5">
      <img class="fea1" src="https://dbatu.ac.in/wp-content/uploads/2017/05/extc-Nalbalwar.jpg" alt="">
    </div>
    <div style="text-align:justify;" class="col-md-7">
      <h4 class="featureshead">A message from Head of Department</h4>
      <h3 class="featureshead text-muted">Electronics & Telecommunication Engineering</h3> <br>
      <p class="msghod"> &nbsp &nbsp &nbsp &nbsp "The department was established in the year 1995 with B. Tech programme with the intake of 60 students. In 2001, the department started M. Tech programme in Electronics & Telecomm Engineering with an
        intake of 18 students." </p>
      <p class="msghod text-muted"> - Nalbalwar Sanjay Laxmikant (Professor & HOD)</p>
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="mobset mobilediv col-md-5">
      <img class="fea" src="/Images/anu.jpg" alt="">
    </div>
    <div style="text-align:justify;" class="col-md-7">
      <h4 class="featureshead">A grand event</h4>
      <h3 class="featureshead text-muted">Anu-Wid-Youth</h3> <br>
      <p class="">"The department was established in the year 1995 with B. Tech programme with the intake of 60 students. In 2001, the department started M. Tech programme in Electronics & Telecomm Engineering with an intake of 18 students." </p>
    </div>
    <div class="bigscreendiv col-md-5">
      <img class="fea" src="/Images/anu.jpg" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your
        content.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
        focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>

    </div>
  </div>


  <div class="b-example-divider"></div>

  <div class="supporters">
    <h2 class="pb-2 headinggoal">Official Supporters</h2>
    <hr class="border border-success border-1"> <br>
    <div class="officalss row">
      <div class="col-lg-3">
        <h4>TechEdu</h4>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="offbtn btn btn-outline-success">
          Connect
        </a>
      </div>
      <div class="col-lg-3">
        <h4>TEESA</h4>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="offbtn btn btn-outline-success">
          Connect
        </a>
      </div>
      <div class="col-lg-3">
        <h4>Career Development Center</h4>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="offbtn btn btn-outline-success">
          Connect
        </a>
      </div>
      <div class="col-lg-3">
        <h4>DBATU Forum Of Incubation and Innovation</h4>
        <p>To develop an ecosystem that enables entrepreneurs to build successful science and technology bussinesses with global potential.</p>
        <a href="#" class="offbtn btn btn-outline-success">
          Connect
        </a>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <!-- /END THE FEATURETTES -->

  <!-- Subscribe Form -->
  <div id="Subscribebtn">
    <div class="row subscribe border border-success border-1">
      <div style="text-align:center;" class="col-lg-6 subsleft">
        <h1 class="headsubs1">Let's grow together !</h1>
        <p class="introsubs" style="color:white;">To keep connected with us please sign up with your personal info.</p>
        <a href="createaccount"><button class="btn subssign btn-outline-success" type="button" name="button">Sign Up</button></a>
      </div>
      <div style="text-align:center;" id="became" class="col-lg-6 ">
        <h1 class="headsubs">Subscribe !</h1>
        <a href="https://bit.ly/38iI4NP"> <i class="fa-brands if iconssubs fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/adesh-salsundar-a73b4121a"> <i class="fa-brands if iconssubs  fa-linkedin"></i></a>
        <a href="mailto:adeshsalsundar1713@gmail.com"> <i class="fa-regular if iconssubs  fa-envelope"></i></a>
        <p>Get the best new information in your inbox everyday. Get the latest news first.</p>
        <form onsubmit="changeText()" name="myForm" class="" action="/home" method="post">
          <input class="subsinput" type="email" name="emailsubs" value="" placeholder="Email Id" required> <br> <br>
          <input class="subsinput" type="mobile" name="mobilesubs" value="" placeholder="Mobile Number (Optional)"> <br><br>
          <button style="border-radius:30px;width:150px;" class="btn btn-outline-success " type="submit" name="button">Subscribe</button>
        </form>
          </div>
    </div>
  </div>

</div><!-- /.container -->




<%- include('footer'); -%>
