<%- include('header'); -%>

<style media="screen">
  .success{
    font-family: 'Akaya Telivigala', cursive;
     text-align:center;
     margin:60px 0 40px 0;
     color: rgb(4, 170, 109);
  }
  .success1{
    text-align:center;
    margin:10px 0 ;
  }
</style>
 <div class="row">
   <h1 class="success">Thank you for connecting with us !!</h1>
   <h5 class="success1">Congratulations, your account has been successfully created</h5>
   <p class="success1">We will keep you upgraded with everything you need in your energetic journey of academics</p>
   </div> <br>
   <a href="profile">  <button class="btn btnsuccess btnup btn-outline-success"type="button" name="button">Go to Profile</button></a>
     <a href="/"><button class="btn btnup btn-outline-success"type="button" name="button">Home</button> </a> <br>




<%- include('footer'); -%>
