<%- include('header'); -%>

<div style="height:25px;" class="b-example-divider"></div>

<div   class="titleline ">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="ag nav-link"><i class="fa-regular fa-chalkboard-user"></i>Faculty</a></li>
      <li class="nav-item"><a href="#" class="ag nav-link"><i class="fa-regular fa-trophy"></i>Achievements</a></li>
      <li class="nav-item"><a href="#" class="ag nav-link"><i class="fa-light fa-calendar-days"></i>Events</a></li>
      <div class="dropdown">
      <a class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid log fa-circle-user"></i></a>
      <ul class="dropdown-menu menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="profile">Profile</a></li>
          <li><a class="dropdown-item" href="#">Sign Out</a></li>

       <li><a class="dropdown-item" href="profile">Profile</a></li>
         <li><a class="dropdown-item" href="#">Sign Out</a></li>
       </ul>
      </div>
      <li class="nav-item"><a href="#" class="ag nav-link"><i class="fa fa-caret-down"></i>Academics</a></li>
      <li class="nav-item"><a href="#" class="ag nav-link"></a></li>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </ul>
  </header>
</div>

<section class="py-5 text-center depthead">
<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
  </div>
  <div class="col-lg-6 col-md-8 mx-auto">
    <h4 style="color:white;" class="norm">"Welcome to department"</h4>
    <h1 class="fw-light headinggoalalbum"><span class="oneal">Electronics</span> & <span class="twoal">Telecommunication</span> Engineering </h1> <br>
    <p style="color:white;" class="lead ">At Dr. BATU we believe that excellence can be achieved through continuous and never ending process of improvisation and being second is not an option. Being the department of the only Technological University in Maharashtra we are committed to  impart quality technical education to our students.</p>
    </div>
</div>
</section>
<%- include('footer'); -%>
